*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Righteous', cursive;
    color: #fff;
    overflow-x:hidden;
    background-color: #171768;
    
}
/*MENU BAR*/
.menu_bar {
    text-align: center;
    padding-top: 1.5rem;
    position: absolute;
    width: 100%;
    transition: all 0.5s ease;
}
.menu_bar > ul > li {
    display:inline-block;
    margin:0rem 1rem;
    color: #f3c500;
    -webkit-text-stroke: 1px #d6781f;
    padding: 10px 28px;
}
.menu_bar > ul > li:not(:first-child):hover {
    background: #171768bf;
    border-radius: 15px;
    cursor:pointer;
}
.menu_bar > ul > li:nth-child(1){
    float: left;
    position: absolute;
    left: 2%;
    top: 20%;
}
/*Activate Sticky Menu Bar*/
.sticky-navbar{
    position: fixed;
    width:100%;
    padding-top:1rem;
    padding-bottom:1rem;
    background-color:#171768 !important;
    box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
    z-index: 1;
}
.menu_bar.sticky-navbar > ul > li:nth-child(1) {
    top: 0%;
}
.menu_bar.sticky-navbar > ul > li:not(:first-child):hover {
    background: #30689cbf;
    border-radius: 15px;
    cursor:pointer;
}
/*END MENU BAR*/
/*SECTION MAIN*/
section.main {
    background-image: linear-gradient(to bottom, rgb(148 170 220 / 52%), rgb(63 57 57 / 73%)), url(../images/intro_beach.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    color: white;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}
section.main > div.main-title{
    position:relative;
    left: 5%;
    bottom: 10%;
}
section.main > div.main-title > h2{
   position:absolute;
   transform: translate(-50%,-50%);
   font-size:9rem;
}
section.main > div.main-title > h2:nth-child(1){
    color:#f3c500;
    -webkit-text-stroke:2px #f3c500;
}
section.main > div.main-title > h2:nth-child(2){
    color:#d6781f;
    animation: waveAnim 4s ease-in-out infinite;
}
@keyframes waveAnim{ 
    0%,100%{
        clip-path:polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%,
            70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%
        );
    }
    50%{
        clip-path:polygon(0 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%,
            84% 45%, 100% 46%, 100% 100%, 0% 100%
        );
    }
}
section.main > div.main-sub-title{
    position: absolute;
    bottom: 40%;
}
section.main > div.main-sub-title > h2{
    color: #f3c500;
    -webkit-text-stroke: 1px #d6781f;
}
section.main > a.main-play-btn{
    position: relative;
    top: 18%;
    padding: 10px 40px;
    background-color: #f3c500;
    color: #d6781f;
    border-radius: 20px;
    text-decoration: none;
    border: 1px solid #a43210;
}
section.main > a.main-play-btn:hover{
    background-color: #d6781f;
    color:#f3c500;
}
div.main-divider{
    position:relative;
}
.main-divider.custom-shape-divider-bottom-1640275419 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.main-divider.custom-shape-divider-bottom-1640275419 svg {
    position: relative;
    display: block;
    width: calc(127% + 1.3px);
    height: 212px;
}
.main-divider.custom-shape-divider-bottom-1640275419 .shape-fill {
    fill: #171768;
}

/*SECTION INTRO*/
section.intro{
    width:100%;
    padding-top:5rem;
}
section.intro > .intro-block{
    display:flex;
    align-items: center;
    align-content: center;
    margin:1rem;
    z-index:2;
}
section.intro > .intro-block > .isub-block-card,
section.intro > .intro-block > .isub-block-desc{
    height:100%;
    width:50%;
    padding:2rem 0rem;
    border-radius:1rem;
    margin:1rem;
    text-align: center;
}
section.intro > .intro-block > .isub-block-desc{
    background-color: #19127d;
}
section.intro > .intro-block > .isub-block-desc > .title-desc{
    font-size:1.5rem;
    padding-bottom:0.8rem;
    text-align:center;
    color: #f3c500;
    -webkit-text-stroke: 1px #d6781f;
}
section.intro > .intro-block > .isub-block-desc > .sub-desc{
    font-size:1rem;
    padding:0rem 1rem;
    text-align:justify;
}
/*GAMEPLAY*/
section.gameplay{
    height:100%;
    width:100%;
    margin-top:5rem;
}
section.gameplay > #vid_gameplay{
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: fill;
}
section.gameplay > .content {
    color: #f3c500;
    -webkit-text-stroke: 1px #d6781f;
    width: 100%;
    text-align: center;
    padding:2rem;
}
section.gameplay > .content  > h1{
    font-size:3em;
}
section.gameplay > .content  > p{
    padding-top:1rem;
    font-size:1em;
}

/*SECTION TOKENOMICS*/
section.tokenomics{
    width:100%;
}
section.tokenomics > .content {
    color: #f3c500;
    -webkit-text-stroke: 1px #d6781f;
    width: 100%;
    text-align: center;
    padding:2rem;
}
section.tokenomics > .content  > h1{
    font-size:3em;
}
section.tokenomics > .content  > p{
    padding-top:1rem;
    font-size:1em;
}
section.tokenomics > .intro-block{
    display:flex;
    align-items: center;
    align-content: center;
    margin:1rem;
    z-index:2;
}
section.tokenomics > .intro-block > .isub-block-card,
section.tokenomics > .intro-block > .isub-block-desc{
    height:100%;
    width:50%;
    padding:2rem 0rem;
    border-radius:1rem;
    margin:1rem;
    text-align: center;
}
section.tokenomics > .intro-block > .isub-block-desc{
    background-color: #19127d;
}
section.tokenomics > .intro-block > .isub-block-desc > .title-desc{
    font-size:1.5rem;
    padding-bottom:0.8rem;
    text-align:center;
    color: #f3c500;
    -webkit-text-stroke: 1px #d6781f;
}
section.tokenomics > .intro-block > .isub-block-desc > .sub-desc{
    font-size:1rem;
    padding:0rem 1rem;
    text-align:justify;
}
/*MAIN TEAM*/
section.main-team{
    background-image: linear-gradient(to bottom, rgb(148 170 220 / 52%), rgb(63 57 57 / 73%)), url(../images/cc_bg.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding-bottom: 5rem;
}
section.main-team > div.description{
    padding: 2em;
    text-align:center;
}
section.main-team > div.description > div.header-desc{
    padding-top:2rem;
    font-size:2.5em;
    color: #f3c500;
    -webkit-text-stroke: 1px #d6781f;
}
section.main-team > div.description > div.sub-desc{
    font-size:1.5em;
    padding-top:1rem;
    color: #f3c500;
    -webkit-text-stroke: 1px #d6781f;
}
/*Team Section Single*/
div.team{
    height:100%;
    width:100%;
}
div.team > .member-block{
    display:flex;
    margin:1rem 5rem;
}
div.team > .member-block > .sub-block-card,
div.team > .member-block > .sub-block-desc{
    height:100%;
    width:50%;
    text-align:center;
    padding:2rem 0rem;
    border-radius:1rem;
    margin:1rem;
}
div.team > .member-block > .sub-block-card > card > div.name {
    font-size: 1em;
}
div.team > .member-block > .sub-block-desc{
    background-color: #171768b8;
}
div.team > .member-block > .sub-block-desc > .role{
    font-size:1.5rem;
    padding-bottom:0.8rem;
    color: #f3c500;
    -webkit-text-stroke: 1px #d6781f;
}
div.team > .member-block > .sub-block-desc > .role-desc{
    font-size:1rem;
    padding:0rem 1rem;
}
/*Team Group Section*/
div.team > .member-block-group{
    display:flex;
    margin:1rem 5rem;
}
div.team > .member-block-group > .card-group{
    height:100%;
    width:100%;
    padding:2rem 0rem;
    border-radius:1rem;
    margin:1rem;
    background-color: #171768b8; 
    display:flex;
    flex-wrap: wrap;   
    align-items: center;
    justify-content: center;
    
}
div.team > .member-block-group > .card-group > div.card{
    padding:0rem 2rem;
}
div.team > .member-block-group > .card-group > div.card > div.name{
    text-align: center;
}
/*END MAIN TEAM*/
/*Animations*/
@keyframes spinAnim {
    from { transform: rotateY(0deg) }
    to { transform: rotateY(360deg) }
}
.spinAnim{
    animation: spinAnim 2s infinite;
    animation-timing-function: ease-in-out;
}
.spinAnim:hover{
    animation: spinAnim 1s;
}
/*END ANIMATIONS*/
/*Footer*/
footer{
   text-align: center;
   background-color: #171768;
   padding:2rem;
}
footer > section.socials{
    font-size:3rem;
    display:flex;
    flex-wrap: wrap;   
    align-items: center;
    justify-content: center;
    margin-top:2rem;
    /* color:#f5f5f5; */
}
footer > section.socials > a {
  margin:0rem 3rem;
  color:#f5f5f5;
}
footer > section.socials > a:hover {
  color:#add8e6;
}
footer > section.links{
    font-size:1.5rem;
    display:flex;
    flex-wrap: wrap;   
    align-items: center;
    justify-content: center;
    margin-top:5rem;
}
footer > section.links > a {
  color:#f5f5f5;
  margin:0rem 3rem;
  text-decoration:none;
  padding-left: 1rem;
  padding-right: 1rem;
  border-right: 2px solid #add8e6;
  border-left: 2px solid #add8e6;
}
footer > section.links > a:hover {
  color:#add8e6;
}
footer > section.rights-res{
    font-size:1rem;
    display:flex;
    flex-wrap: wrap;   
    align-items: center;
    justify-content: center;
    margin-top:2.5rem;
}